# Adminer
# Example ports. You can use your own
# Required
ADMINER_PORTS="8081:8080"

# Database

# Required
DB_USER=""

# Required
DB_PASSWORD=""

DB_HOST=""
DB_PORT=""
DB_NAME=""

# Example ports. You can use your own
# Required
DB_PORTS="${DB_PORT}:${DB_PORT}"

# Required
DATABASE_URL="postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
